*
{
	margin:0;
	padding:0;
}
::-webkit-scrollbar 
{
	width:5px; 
	height:4px; 
	background:#FFF; 
}
::-webkit-scrollbar-thumb 
{ 
	background-color:#D3D3D3; 
	-webkit-border-radius:1ex; 
}
body
{
	background-image:url('../images/grid.png');
	font-family: 'Nunito', sans-serif;
	font-size:11px;
	color:#808080;
}
.container
{
    position:absolute;
	left:50%;
	top:50%;
	margin:-250px 0 0 -442px;
	background-color:rgba(255,255,255,0.3);
	border:1px solid #D3D3D3;
	width:880px;
	height:495px;
}
.title
{
	background-image:url('../images/logo2.png');
	background-position:center center;
	background-repeat:no-repeat;
	width:100%;
	height:100px;
}
.nav
{
	width:690px;
	height:20px;
	padding:5px;
	text-align:center;
	word-spacing:60px;
	margin:auto;
}
.leftcolumn
{
	background-image:url('../images/koi-resized.png');
	width:180px;
	height:340px;
	float:left;
}
.main
{
	width:510px;
	height:330px;
	overflow-y:scroll;
	overflow-x:hidden;
	float:left;
	margin:auto;
	margin:5px;
}
.rightcolumn
{
	background-image:url('../images/koi-resized2.png');
	width:180px;
	height:340px;
	float:left;
}
.copyright
{
	clear:both;
	width:870px;
	height:15px;
	padding:5px;
	text-align:center;
}
a
{
	text-decoration:none;
	color:#808080;
}
a:hover
{
	text-decoration:none;
	font-weight:bold;
}
p
{
	margin:0;
	padding:5px;
	text-indent:50px;
}
.hello
{
	margin:0;
	font-family: 'Mr Dafoe', cursive;
	font-size:30px;
}
table 
{
	margin:auto;
    width:498px;
    border:1px solid #D3D3D3;
    table-layout:fixed;
    border-collapse: collapse;
}
table td, table th 
{
    border: 1px solid #D3D3D3;
    text-align:left;
    padding: 5px 15px 5px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.one, .two, .three, .four
{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}